### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [8]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
total_players = len(purchase_data['SN'])
total_players

780

In [10]:
summary_df = pd.DataFrame()
summary_df["Total Players"]= [total_players]
summary_df

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# Purchasing Analysis (Total)
# Number of Unique Items
# Average Purchase Price
# Total  of Purchases
# Total Revenue

unique_items = len(purchase_data["Item ID"].unique())


Average_price = purchase_data["Price"].mean()


Amount_of_purchases = purchase_data["Purchase ID"].count()


TotalRevenue = sum(purchase_data["Price"])



#Making a blank dataframe

summarytable_df = pd.DataFrame()
summarytable_df["Unique items"] = [unique_items]
summarytable_df["Number of purchases"] = [Amount_of_purchases]
summarytable_df["Average price"] = [Average_price]
summarytable_df["TotalRevenue"] = [TotalRevenue ]

summarytable_df

   Unique items  Number of purchases  Average price  TotalRevenue
0           179                  780       3.050987       2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
# Gender Demographics, Count of players gender
Count_players_gender = purchase_data["Gender"].value_counts()
Count_players_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [15]:
#  Male Players total

Male_players = len(purchase_data[purchase_data['Gender']== "Male"])

Male_players

652

In [16]:
# Percentage of Male Players

Male_pct = round((Male_players)/(total_players)*100)

Male_pct

84

In [17]:
# Female Players total

Female_players = len(purchase_data[purchase_data['Gender']== "Female"])

Female_players

113

In [18]:
# Percentage of Female players

Female_pct = round((Female_players)/(total_players)*100)

Female_pct

14

In [19]:
# Percentage and Count of Other / Non-Disclosed


Other_players =  len(purchase_data[purchase_data['Gender']== "Other / Non-Disclosed"])

Other_players

15

In [20]:
# percentage

Other_player_pct = round((Other_players)/(total_players)*100)

Other_player_pct

2

In [21]:
# Summary of Percetage/Count of Players by Gender

gender_summary_df = pd.DataFrame()
gender_summary_df['Male Player']= [Male_players]
gender_summary_df['Female Players']= [Female_players]
gender_summary_df['Other Players'] = [Other_players]
gender_summary_df['Male Percentage']= [Male_pct]
gender_summary_df['Female Percentage']= [Female_pct]
gender_summary_df['Other Players Percentage']=[Other_player_pct]
gender_summary_df['Total Players'] = [total_players]

gender_summary_df

,Male Player,Female Players,Other Players,Male Percentage,Female Percentage,Other Players Percentage,Total Players
0,652,113,15,84,14,2,780


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
# Dataframe with Gender and Price
summary_df = purchase_data[['SN','Gender','Price']]


# Variables for table
total_items_gender = summary_df.groupby(["Gender"])["Price"].count()
average_price_gender= summary_df.groupby(["Gender"])["Price"].mean()
total_price_gender = summary_df.groupby(["Gender"])["Price"].sum()
average_purchase_gender =(total_price_gender)

#summarize and sort
summary_gender = pd.DataFrame({"Purchase Count":total_items_gender, "Item Price":round(average_price_gender,2), "Total Purchase Value":round(total_price_gender,2),"Avg Total Purchase per Person)":round(average_purchase_gender,2)})
summary_sorted = summary_gender.sort_values("Purchase Count", ascending= False)
summary_sorted

,Purchase Count,Item Price,Total Purchase Value,Avg Total Purchase per Person)
Gender,,,,
Male,652,3.02,1967.64,1967.64
Female,113,3.20,361.94,361.94
Other / Non-Disclosed,15,3.35,50.19,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
# Establish bins for ages
bin_age = [0, 9, 14, 19, 24, 29, 34, 39, 150]
label_age = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# use pd.cut to add age groups to dataframe
data_copy = purchase_data.copy()
data_copy["Age Groups"] = pd.cut(data_copy["Age"], bin_age, labels=label_age)
age_df = data_copy.groupby(["Age Groups"])

# calculate variables
age_df_count = age_df["SN"].count()
total_count = data_copy["SN"].count()
age_percentage = (age_df_count / total_count)*100

# Create a summary data frame to hold the results
percentage_df = pd.DataFrame({"Total Count": age_df_count,"Percentage of Players": round(age_percentage,2)})
percentage_df.head(10)

            Total Count  Percentage of Players
Age Groups
<10                  23                   2.95
10-14                28                   3.59
15-19               136                  17.44
20-24               365                  46.79
25-29               101                  12.95
30-34                73                   9.36
35-39                41                   5.26
40+                  13                   1.67

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
# Data Frame of age
age_df_mean = age_df["Price"].mean()
age_sum = age_df["Price"].sum()

# Display the summary data frame
age_analysis = pd.DataFrame({"Purchase Count": age_df_count,"Average Purchase Price)":round(age_df_mean,2),"Total Purchase Value)":round(age_sum,2)})
age_analysis

            Purchase Count  Average Purchase Price)  Total Purchase Value)
Age Groups
<10                     23                     3.35                  77.13
10-14                   28                     2.96                  82.78
15-19                  136                     3.04                 412.89
20-24                  365                     3.05                1114.06
25-29                  101                     2.90                 293.00
30-34                   73                     2.93                 214.00
35-39                   41                     3.60                 147.67
40+                     13                     2.94                  38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
# Create a summary data frame to hold the results
spenders_df = purchase_data[['SN', 'Price']]

#calculate variables for table
count_purchases = spenders_df.groupby(["SN"])["Price"].count()
ave_purchase_price= spenders_df.groupby(["SN"])["Price"].mean()
tot_purchase = spenders_df.groupby(["SN"])["Price"].sum()

#obtain new df and sort. Print the top 5 results, Sort the total purchase value column in descending order
summary_spenders = pd.DataFrame({"Purchase Count":count_purchases, "Average Purchase Price":round(ave_purchase_price,2), "Total Purchase Value":tot_purchase})
spenders_sorted = summary_spenders.sort_values("Purchase Count", ascending= False)
spenders_sorted.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Iral74                    4                    3.40                 13.62
Idastidru52               4                    3.86                 15.45
Asur53                    3                    2.48                  7.44
Inguron55                 3                    3.70                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
#Retrieve the Item ID, Item Name, and Item Price columns
items_df = purchase_data[['Item ID', 'Item Name', 'Price']]

#calculate variables for table
count_items = items_df.groupby(["Item ID","Item Name"])["Price"].count()
ave_price_items= items_df.groupby(["Item ID","Item Name"])["Price"].mean()
tot_price_items = items_df.groupby(["Item ID","Item Name"])["Price"].sum()

# Display a preview of the summary data frame
summary_popular = pd.DataFrame({"Purchase Count":count_items, "Item Price":ave_price_items, "Total Purchase Value":tot_price_items})
popular_sorted = summary_popular.sort_values("Purchase Count", ascending= False)
popular_sorted.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [35]:
#re-use previous dataframe and change sorting criteria. Print the top 5 results
profitable_sorted = summary_popular.sort_values("Total Purchase Value", ascending= False)
profitable_sorted.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80